img {
  width: 50%;
  height: auto;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  color: #333;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

tr:nth-child(even) td {
  background-color: #f0f0f0;
}

tr:hover td {
  background-color: #e0e0e0;
}